/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 {
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
h4, h5, h6 {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1rem;
}

code{
  font-size: 1rem;
}

pre{
  font-size: .9rem;
}

hr {
  height: 1px;
  background: #eee;
  width: 100%;
  border: none;
}

/* title (logo) in navbar */
.navbar-light .navbar-brand {
  font-weight: 400;
  font-size: 1.6em;
  line-height: 0;
}


.navbar-light .navbar-brand {
  font-weight: 400;
  font-size: 1.6em;
  line-height: 0;
}

.navbar-brand, .navbar-nav li.nav-item a.nav-link {
    line-height: inherit;
}

/* navbar items */
.navbar-light .navbar-nav>li.nav-item>a.active, .navbar-light .navbar-nav>li.nav-item>a.active:focus, .navbar-light .navbar-nav>li.nav-item>a.active:hover {
     font-weight: 400;
 }

.navbar-light .navbar-nav>.nav-item>.nav-link, .navbar-light .navbar-nav>.nav-item>.nav-link:focus, .navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    font-weight: 400;
}


/* weight of fa-icon */
.fa, .fas {
    font-weight: 600;
}

/* for categories and tags */
.article-metadata {
  margin-bottom: 1px;
 }

.article-categories {
    padding: 0.0em 0.2em 0.3em 0.2em;
    margin: 0.0em 0.1em 0.1em 0.0em;
    font-size: .75rem;
    font-weight: 200;
    line-height: 1.0;
    color: #FFF;
    background: #4052b5;
    border: solid 1px #4052b5;
    border-radius: 3px;
    display: inline-block;
}

.article-categories a {
    color: #FFF;
}

.article-categories a:hover {
    color: #FFF;
}

.article-tags {
/*    padding: 0.1em 0.2em 0.0em 0.4em;*/
    padding: 0;
    margin: 0.1em 0.1em 0.1em 0.0em;
    font-size: .90rem;
    font-weight: 200;
    line-height: 1.0;
    color: #4052b5;
    background: #FFF;
/*    border: solid 1px #4052b5;*/
    border-radius: 3px;
    display: inline-block;
}

.article-tags a {
    color: #4052b5;
}

.article-tags a:hover {
    color: #4052b5;
}


.article-date {
/*    display block;*/
    float: right;
    border-bottom: 1px solid #4052b5;
    font-weight: 400;
   font-style: italic;
    font-size: .7rem;
    color: #4052b5;/*文字色*/
    margin-right:2px;
}


video {
  max-width: 100%;
  height: auto;
}

.media.stream-item {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.media.stream-item .stream-meta {
  margin-top: 6px;
}

.media.stream-item img {
  max-width: 250px;
  max-height: 200px;  
  object-fit: cover;
}

.media.stream-item .article-title,
.card-simple .article-title {
  font-size: 1.1rem;
}

.embed-ogimage{
  align-content: center;
  text-align:center;
}

.embed-ogimage img {
  width: 800px;
  height: auto;
  object-fit: cover;
}
