
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}
h3 {
  font-weight: 600;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
h4, h5, h6 {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1rem;
}

code{
  font-size: 1rem;
}

pre{
  font-size: .9rem;
}

hr {
  height: 1px;
  background: #eee;
  width: 100%;
  border: none;
}

/* for categories and tags */
.article-categories {
    padding: 0.1em 0.3em 0.0em 0.4em;
    margin: 0.1em 0.1em 0.1em 0.0em;
    font-size: .75rem;
    font-weight: 200;
    line-height: 1.6;
    color: #FFF;/*文字色*/
    background: #4052b5;
    border: solid 1px #4052b5;/*線*/
    border-radius: 3px;/*角の丸み*/
    display: inline-block;
}

.article-categories a {
    color: #FFF;/*文字色*/
}

.article-categories a:hover {
    color: #FFF;/*文字色*/
}

.article-tags {
    padding: 0.1em 0.3em 0.0em 0.4em;
    margin: 0.1em 0.1em 0.1em 0.0em;
    font-size: .75rem;
    font-weight: 200;
    line-height: 1.6;
    color: #4052b5;/*文字色*/
    background: #FFF;
    border: solid 1px #4052b5;/*線*/
    border-radius: 3px;/*角の丸み*/
    display: inline-block;
}

.article-tags a {
    color: #4052b5;/*文字色*/
}

.article-tags a:hover {
    color: #4052b5;/*文字色*/
}

video {
  max-width: 100%;
  height: auto;
}

.media.stream-item {
  margin-bottom: .5rem;
}

.media.stream-item .stream-meta {
  margin-top: 6px;
}

.media.stream-item img {
  max-width: 250px;
  max-height: 200px;  
  object-fit: cover;
}

.article-date {
    display block;
    float: right;
    border-bottom: 1px solid #4052b5;
    font-weight: 400;
    font-style: italic;
    font-size: .7rem;
    color: #4052b5;/*文字色*/
}

.media.stream-item .article-title,
.card-simple .article-title {
  font-size: 1.1rem;
}

.embed-ogimage{
  align-content: center;
  text-align:center;
}

.embed-ogimage img {
  width: 800px;
  height: auto;
  object-fit: cover;
}

